.md-button {
  text-transform: capitalize;
}

.md-subhead {
  color: #7f8c8d;
}

.card {

}

.card:hover {
  transform: rotate(360deg);
  background: rgba(52, 152, 219, .8);
  color: white;
}

.rotate {
  transition: all 0.5s ease-in-out;
}
.rotate:hover {
  transition: all 1s ease-in-out;
}
