<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <title>Quizzu</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="src/css/styles.css" />

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>

    <!--Quizzu Files MUST GO AFTER ANGULAR FRAMEWORK SCRIPTS ARE CALLED -->
    <script src="./src/main/app.js"></script>
      <script src="./src/main/controllers.js"></script>

  </head>

  <body ng-controller="MainController as mc" layout="column" ng-cloak >

  <div flex layout="column"  tabIndex="-1" role="main" class="md-whiteframe-z2">

    <!-- Top Toolbar -->
    <md-toolbar layout="row" class="md-whiteframe-z2">
      <div class="md-toolbar-tools">
        <md-button id="menuButton" class="menu" aria-label="Open Menu" ng-click="openLeftMenu()">
          <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <span flex></span>
        <h2><span>Quizzu</span></h2>
        <span flex></span>
      </div>

    </md-toolbar>



    <!-- Sidenav Menu -->
    <md-sidenav md-component-id="left" class="md-sidenav-left">
      <md-toolbar>
       <h1 class="md-toolbar-tools">Quizzu Menu</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="SideNavController as sc">
        <div layout="column" layout-fill layout-align="top center">
          <md-button class="md-accent md-raised" ng-click="sc.goHome()">{{menuItems[0]}}</md-button>
          <md-button class="md-accent md-raised" ng-click="sc.goAbout()">{{menuItems[1]}}</md-button>
          <md-button class="md-accent md-raised" ng-click="sc.goSettings()">{{menuItems[2]}}</md-button>
        </div>
      </md-content>
    </md-sidenav>


    <!-- Main Content of Index Page -->
    <div flex layout="row" layout-align="center center">
    <md-content flex id="content">

        <!-- Instructional Cards! -->
        <div flex flex-xs flex-gt-xs="100" layout="row"
             layout-align="center top" ng-controller="TutorialCardController as tc" ng-hide="loggedIn">
        <md-card flex md-theme="default">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{cards[current].title}}</span>
              <span class="md-subhead">{{cards[current].subtitle}}</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media"></div>
            </md-card-title-media>
          </md-card-title>

          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-accent" ng-click="previousCard()">Previous</md-button>
            <md-button class="md-raised md-primary" ng-click="nextCard()">{{cards[current].button}}</md-button>
          </md-card-actions>
        </md-card>

        </div>

        <!-- Add Question -->
        <div flex flex-xs flex-get-xs='100' layout="row" layout-align="right right"
          ng-controller="AddQuestionController as addQ" class="addQuestion-card" ng-show="addQuestion">
        <md-card flex md-theme="default" id="addQuestion">
            <md-card-title>
              <md-card-title-text>
                <div flex layout="column">
                <form>
            <label>Question: </label>
            <input type="text" ng-model="question.newQuestion" required>
            <span class="highlight"></span>
            <span class="bar"></span>

            <label>Answer</label>
            <input type="text" required ng-model="question.answer" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <md-button class="md-raised md-accent " ng-click="save(question)">Add</md-button>
              </form>
              </div>
        </md-card-title-text>
      </md-card-title>
    </md-card>
      </div>

        <!-- Score Card -->
        <div flex flex-xs flex-get-xs='100' layout="column" layout-align="right right"
          ng-controller="QuizController as quiz" class="score-card" ng-show="demoStart">

          <md-card flex md-theme="default" id="scoreCard">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" id="score">Score: {{score}} </span>
              </md-card-title-text>
            </md-card-title>


          </md-card>
        </div>

        <!-- Demo Quiz Cards -->
        <div flex flex-xs flex-gt-xs="100" layout="row"
             layout-align="center top" ng-controller="QuizController as quiz" class="quiz-card" ng-show="demoStart">
        <md-card flex md-theme="default" id='quizCard'>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{quizzes[current].title}}</span>
              <span class="md-subhead">{{quizzes[current].question}}</span>
            </md-card-title-text>
          </md-card-title>

          <div flex layout="column">
            <md-button flex id='0' class="md-raised md-accent quiz-button" ng-click="clickAns(0, $event)">{{quizzes[current].answers[0]}}</md-button>
            <md-button flex id='1' class="md-raised md-accent quiz-button" ng-click="clickAns(1, $event)">{{quizzes[current].answers[1]}}</md-button>
            <md-button flex id='2' class="md-raised md-accent quiz-button" ng-click="clickAns(2, $event)">{{quizzes[current].answers[2]}}</md-button>
            <md-button flex id='3' class="md-raised md-accent quiz-button" ng-click="clickAns(3, $event)">{{quizzes[current].answers[3]}}</md-button>
          </div>


          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-accent" ng-click="pass()">Pass (0pts)</md-button>
            <md-button class="md-raised md-primary" ng-click="nextCard()">{{quizzes[current].button}}</md-button>
          </md-card-actions>
        </md-card>

        </div>

      </div> <!-- End Main Content Div -->

      <md-button class="md-raised md-primary" ng-click="launchDemoQuiz()" ng-hide="demoStart || addQuestion">Launch Demo Quiz</md-button>
      <md-button class="md-raised md-primary" ng-click="launchAddQuestion()" ng-hide="addQuestion || demoStart">Add New Question</md-button>

    </md-content>

  </div>

  </body>
</html>
