<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <title>Quizzu</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="src/css/styles.css" />

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>

    <!--Quizzu Files MUST GO AFTER ANGULAR FRAMEWORK SCRIPTS ARE CALLED -->
    <script src="./src/main/app.js"></script>
      <script src="./src/main/controllers.js"></script>

  </head>

  <body ng-controller="MainController as mc" layout="column" ng-cloak >

  <div flex layout="column"  tabIndex="-1" role="main" class="md-whiteframe-z2">

    <!-- Top Toolbar -->
    <md-toolbar layout="row" class="md-whiteframe-z2">
      <div class="md-toolbar-tools">
        <md-button id="menuButton" class="menu" hide-gt-sm aria-label="Open Menu" ng-click="openLeftMenu()">
          <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <span flex></span>
        <h2><span>Quizzu</span></h2>
        <span flex></span>
      </div>

    </md-toolbar>



    <!-- Sidenav Menu -->
    <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar>
       <h1 class="md-toolbar-tools">Quizzu Menu</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="SideNavController as sc">
        <div layout="column" layout-fill layout-align="top center">
          <md-button class="md-accent md-raised" ng-click="sc.goHome()">{{menuItems[0]}}</md-button>
          <md-button class="md-accent md-raised" ng-click="sc.goAbout()">{{menuItems[1]}}</md-button>
          <md-button class="md-accent md-raised" ng-click="sc.goSettings()">{{menuItems[2]}}</md-button>
        </div>
      </md-content>
    </md-sidenav>


    <!-- Main Content of Index Page -->
    <div flex layout="row" layout-align="center center">
    <md-content flex id="content">

        <!-- Instructional Cards! -->
        <div flex flex-xs flex-gt-xs="100" layout="row"
             layout-align="center top" ng-controller="TutorialCardController as tc" ng-hide="loggedIn">
        <md-card flex md-theme="default">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{cards[current].title}}</span>
              <span class="md-subhead">{{cards[current].subtitle}}</span>
            </md-card-title-text>

            <md-card-title-media>
              <div class="md-media-lg card-media">{{cards[current].pic}}</div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-accent" ng-click="previousCard()">Previous</md-button>
            <md-button class="md-raised md-primary" ng-click="nextCard()">{{cards[current].button}}</md-button>
          </md-card-actions>
        </md-card>

        </div>

        <!-- Demo Quiz Cards -->
        <div flex flex-xs flex-gt-xs="100" layout="row"
             layout-align="center top" ng-controller="QuizController as quiz" ng-show="demoStart">
        <md-card flex md-theme="default" class="card rotate">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{quizzes[current].title}}</span>
              <span class="md-subhead">{{quizzes[current].question}}</span>
            </md-card-title-text>
          </md-card-title>

          <md-radio-group flex layout-align="center center">
            <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
            <md-radio-button value="Banana"> Banana </md-radio-button>
            <md-radio-button value="Mango">Mango</md-radio-button>
          </md-radio-group>

          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-accent" ng-click="pass()">Pass (0pts)</md-button>
            <md-button class="md-raised md-primary" ng-click="nextCard()">{{quizzes[current].title}}</md-button>
          </md-card-actions>
        </md-card>

        </div>



      </div> <!-- End Main Content Div -->





      <md-button class="md-raised md-primary" ng-click="launchDemoQuiz()" ng-hide="demoStart">Launch Demo Quiz</md-button>

    </md-content>

  </div>

  </body>
</html>
